/* колір основного текста #757575 */
/* вторинний колір текста #212121 */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* колір контактів в підвалі rgba(255, 255, 255, 0.6) */
/* головний колір фона #ffffff */
/* вторинний колір фона  #2F303A */
/* колір фона кнопок #F5F4FA */

/* Фільтри */
.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.filter.list .filter-button {
  display: inline-flex;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;
  font-family: inherit;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter.list .filter-button:hover,
.filter.list .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* Основний контент */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content > .item {
  margin-right: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  width: calc((100% - 60px) / 3);

  transition: box-shadow 250ms var(--timing-function);
  /* background-color: tomato; */
}

.main-content > .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-content .link {
  text-decoration: none;
}

.main-content .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}

.main-content .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.main-content .item:nth-child(3n) {
  margin-right: 0;
}
.main-content .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.main-content .description {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.main-content .thumb {
  position: relative;
  overflow: hidden;
}

/* .main-content .thumb:before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  opacity: 0.9;
  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
}

.main-content .link:hover .thumb::before,
.main-content .link:focus .thumb::before {
  transform: translatey(0);
} */

.main-content .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;

  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
}

.overlay .text {
  padding: 63px 24px;

  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 28px;
}
.main-content .link:hover .overlay,
.main-content .link:focus .overlay {
  transform: translatey(0);
}
